name: module3_task0

on:
  push:
    branches: [ main ]
  schedule:
    - cron:  '30 17 * * *'

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    
    - name: Make help
      working-directory: ./module3_task0
      run: |
       make help
