name: module3_task2

on:
  push:
    branches: [ main ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    
    - name: Ejecutar setup.sh
      working-directory: ./module3_task1
      run: ./setup.sh

    - name: Crear ZIP
      working-directory: ./module3_task1
      run: make package
    
    - name: Make Lint
      working-directory: ./module3_task1
      run: make lint
    
    - name: Make Build
      working-directory: ./module3_task1
      run: make build
      
    - name: Make Unit-tests
      working-directory: ./module3_task1
      run: make unit-tests
      
    - name: Make Validate
      working-directory: ./module3_task1
      run: make validate
      
    - name: Make Integration-tests
      working-directory: ./module3_task1
      run: make integration-tests
      
